<!doctype html>
    
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EmonView</title>
        
        <link href="static/style.css" rel="stylesheet">
        
        <script type="text/javascript" src="static/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="static/socket.io.min.js"></script>
        <script type="text/javascript" src="static/emonview.js"></script>
        <script type="text/javascript" src="static/nodes.js"></script>
        
        <script type="text/javascript" src="static/flot/jquery.flot.min.js"></script>
        <script type="text/javascript" src="static/flot/jquery.flot.time.min.js"></script>
    </head>

    <body>
    
        <div id="left-pane">
            <div class="block">
                <h3>EmonView</h3>
                <br>
                <div class="menu">
                    <div class="menu-item"><a href="#nodes">Nodes</a></div>
                    <div class="menu-item"><a href="#console">Console</a></div>
                    <div class="menu-item"><a href="#config">Config</a></div>
                    <div class="menu-item"><a href="#services">Services</a></div>
                </div>
                
                <div class="menu">
                    <div class="menu-item-heading">My Apps</div>
                    <div class="menu-item"><a href="#myelectric">My Electric</a></div>
                    <div class="menu-item"><a href="#myheating">My Heating</a></div>
                </div>
            </div>
        </div>


        <div id="right-pane">
            <div class="view" name="console">
                <div class="block">
                    <h3>Console</h3>
                    <pre id="log"><div  class="console-out"></div></pre>
                </div>
            </div>
                    
            <div class="view" name="config" style="display:none">
                <div class="block">
                    <h3>Config</h3>
                    <br>
                    <button id="saveconf">Save changes</button><br><br>
                    <div class="bound-config">
                         <textarea id="emonhubconf" class="boxsizingborder"></textarea>
                    </div>
                </div>
            </div>
                
            <div class="view" name="nodes" style="display:none; height:100%">

                <div class="test2">
                    <div class="test"><h3>Nodes</h3></div>
                    <ul id="nodelist" class="list"></ul>
                </div>
                
                <div class="bound-variables">
                    
                    <div class="margin-block" style="width:350px">
                        <div class="test">
                            <h3>Variables</h3>
                        </div>
                        <table class="table" id="variable-table"></table>
                    </div>
                    
                    <div style="margin-left:350px">
                        <div class="test">
                            <h3>View</h3>
                        </div>
                        <div style="padding:20px">
                            <div id="placeholder" style="height:400px"></div>
                        </div>    
                    </div>
                </div>
            </div>
            
            <div class="view" name="services" style="display:none">
                <div class="block">
                    <h3>Services</h3>
                    
                    <br>
                    
                    <table class="table">
                    <tr>
                    <th>Service name</th>
                    <th>Status</th>
                    <th>Action</th>
                    </tr>
                    <tr>
                    <td>emonview</td>
                    <td class="service-status" service="emonview">?</td>
                        <td service="emonview">
                            <button class="service-action" action="start">start</button>
                            <button class="service-action" action="stop">stop</button>
                            <button class="service-action" action="restart">restart</button>
                            <button class="service-action" action="status">status</button>
                        </td>
                    </tr>
                    <tr>
                    <td>rfmpi2mqtt</td>
                    <td class="service-status" service="rfmpi2mqtt">?</td>
                       <td service="rfmpi2mqtt">
                            <button class="service-action" action="start">start</button>
                            <button class="service-action" action="stop">stop</button>
                            <button class="service-action" action="restart">restart</button>
                            <button class="service-action" action="status">status</button>
                        </td>
                    </tr>
                    <tr>
                    <td>writer</td>
                    <td class="service-status" service="writer">?</td>
                       <td service="writer">
                            <button class="service-action" action="start">start</button>
                            <button class="service-action" action="stop">stop</button>
                            <button class="service-action" action="restart">restart</button>
                            <button class="service-action" action="status">status</button>
                        </td>
                    </tr>
                    </table>
                    
                </div>
            </div>
            
            
            <div class="view" name="myelectric" style="display:none">
                <div class="block">
                    <h3>POWER NOW:</h3>
                    <div class="myelectric-powervalue" style="font-family:arial"><span key="rx/lab/temperature/value">0</span>W</div>
                    <div class="myelectric-kwhvalue">USE TODAY: <b><span key="rx/lab/battery/value">0</span> kWh</b></div>
                </div>
            </div>
            
            <div class="view" name="myheating" style="display:none">
                <div class="block">
                    <h3>My heating</h3>
                    <p>
                        <button class="myheating" action="on">on</button>
                        <button class="myheating" action="off">off</button>
                        SET POINT: <input type="text" />
                        <button class="myheating" action="setpoint">set</button>
                    </p>
                </div>
            </div>
            
        </div>
        
    </body>

</html>

<script type="text/javascript" charset="utf-8">

var appstart = (new Date()).getTime();

$(document).ready(function(){

    
    var view = ["console"];
    view = (window.location.hash).substring(1).split("/");
    
    var nodes = {};    
    load_nodes();
    show_view();
        
    $.ajax({ url: "conf", cache: false, success: function(data){
        $("#emonhubconf").val(data);
    }});
        
    $("#saveconf").click(function(){
        $.ajax({ type:'POST', url: "conf", contentType: "text/plain", data: $("#emonhubconf").val() });
        load_nodes();
    });
               
    $(window).on('hashchange', function() {
        view = (window.location.hash).substring(1).split("/");
        show_view();
    });
    
    function show_view(){
        $(".view").hide();
        $(".view[name="+view[0]+"]").show();
        
        if (view[0]=="nodes"){
            var nodename = view[1];
            show_node(nodename);
            
            if (view[2]!=undefined){
                var varname = view[2];
                viskey = "rx/"+nodename+"/"+varname+"/value";
                plot();
            }
        }
    }

    $(".service-action").click(function(){
        var service = $(this).parent().attr("service");
        var action = $(this).attr("action");
        $.ajax({ type:'POST', url: "service/"+service+"/"+action});
    });

    $("body").on("click",".vis",function(){
        viskey = $(this).attr('viskey');
        plot();
        history_graph(viskey);
    });
    
    $(".myheating").click(function(){
        var action = $(this).attr("action");
        if (action=="on") myheating_state = 1;
        if (action=="off") myheating_state = 0;
        if (action=="setpoint") myheating_setpoint = $("#myheating-setpoint").val();
        
        save("tx/heating",myheating_state+","+parseInt(myheating_setpoint*100));
    });

    //===================================================================================
    // SOCKET IO 
    //===================================================================================
    namespace = '/test'; // change to an empty string to use the global namespace
    // the socket.io documentation recommends sending an explicit package upon connection
    // this is specially important when using the global namespace
    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'})
    });
    // event handler for server sent data
    // the data is displayed in the "Received" section of the page
    socket.on('my response', function(msg) {
        if (msg.topic=="log") {
            $('.console-out').append(msg.payload+"\n");
        } else if (msg.topic=="service-log") {
            var parts = msg.payload.split("/");
            var service = parts[0];
            var status = parts[1];
            $('.service-status[service="'+service+'"]').html(status);
        } else {
            $('.console-out').append(msg.topic+" "+msg.payload+"\n");
            var key = msg.topic;
            var value = msg.payload;
            $('[key="'+key+'"]').html(value);
            
            if (data[key]==undefined) {
                data[key] = [];
            } else {
                var time = parseInt((new Date()).getTime());
                data[key].push([time,value*1]);
            }
            if (key==viskey) {
                console.log(viskey);
                plot();
            }
        }
        var h = parseInt($('#log')[0].scrollHeight);
        $('#log').scrollTop(h);
    });

});    
</script>
